body {
    margin: 0%;
}
header {
    background-color: #FCD7AD;
    padding: 5px;
}
nav {
    background-color: #F6C28B;
}
nav a {
    padding-left: 15px;
}
main {
    background-color: #A57548;
    padding: 5px;
}
article {
    width: 65%;
    display: inline-block;
}
aside {
    width: 25%;
    float: right;
    margin-top: 20px;
}
img {
    width: 25%;
    border: 3px solid #5296A5;
}
footer {
    background-color: #FCD7AD;
    padding: 5px;
}